@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Poppins, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Lato";
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 60px;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 20px;
  font-family: "Poppins";
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

#gatsby-focus-wrapper {
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/*Bootstrap Overwrite*/

main .container {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/************/
/*Typography*/
/************/

div h1 {
  font-size: 60px;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
}

div h2 {
  font-size: 51px;
  font-family: brother-1816, sans-serif;
  color: #0c0c0c;

  @media screen and (max-width: 1650px) {
    font-size: 41px;
  }
  @media screen and (max-width: 1224px) {
    font-size: 32px;
  }
}

div h3 {
  font-size: 40px;
  font-family: brother-1816, sans-serif;
}

div h5 {
  font-size: 20px;
  color: #0c0c0c;
  font-family: hack, sans-serif;
}

p {
  font-family: brother-1816, sans-serif;
  font-weight: 300;
  color: #0c0c0c;
  font-size: 21px;
}

li {
  font-family: brother-1816, sans-serif;
  font-weight: 300;
}

.light-weight {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.heavy-weight {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

/*Header */
header {
  z-index: 2000 !important;
}

header .navbar {
  background: transparent;
}

header .bm-burger-button,
header .bm-menu-wrap {
  display: initial;
}

header #rcc-confirm-button {
  z-index: 999;
}

.bm-burger-button button {
  position: fixed !important;
  right: 50px;
  top: 25px !important;
  height: 25px !important;
  width: 35px !important;
  left: initial !important;
}

.bm-burger-bars {
  background: white;
  height: 10% !important;
}

.bm-item-list a {
  font-family: brother-1816, sans-serif;
  color: white !important;
}

header {
  z-index: 900;
  position: relative;
  transition-duration: 0.5s;
  pointer-events: none;

  .navbar-brand {
    pointer-events: all;
  }

  .navbar-end a.button {
    color: #0092fb;
    text-decoration: none;
    &:first-child:hover {
      border-color: #ff3975;
      color: #ff3975;
      text-decoration: none;
    }
    &.is-light:hover {
      border-color: #0092fb;
      color: #0092fb;
    }
  }

  &.end-transparency {
    .mainHeader .navbar-start .navbar-item {
      color: #466777;
    }

    .first-logo {
      opacity: 0;
    }

    .second-logo {
      opacity: 1;
    }
  }

  .second-logo {
    opacity: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    position: absolute;

    @media screen and (max-width: 767px) {
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    .navbar-item {
      padding-left: 0 !important;
      padding-top: 16px;
      max-width: 160px;
    }
  }
}

.navbar-start a {
  transition-duration: 0.1s !important;
  transition-timing-function: linear !important;
}

.navbar-start a:hover {
  margin-top: -5px;
  transition-duration: 0.1s !important;
  transition-timing-function: linear !important;
}

header.fixed {
  font-family: Poppins;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mainHeader .button {
  border: 2px solid #fff;
  width: 190px;
  text-align: center;
  border-radius: 25px;
  background: #fff;
  color: #0092fb;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(10, 9, 41, 0.15);
  -moz-box-shadow: 0px 3px 6px 0px rgba(10, 9, 41, 0.15);
  box-shadow: 0px 3px 6px 0px rgba(10, 9, 41, 0.15);
  transition-duration: 0.5s;
}

.mainHeader .button.is-light {
  border: 2px solid #fff;
  width: 190px;
  text-align: center;
  border-radius: 25px;
  display: inline-block;
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.mainHeader .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mainHeader .navbar-start .navbar-item {
  font-size: "Poppins";
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  transition-duration: 0.5s;
  font-weight: 500;
  text-decoration: none;
}

.mainHeader .navbar-start .navbar-item:hover,
.mainHeader .navbar-start .navbar-item:hover .navbar-link {
  background-color: transparent;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #fff;
}

#gatsby-focus-wrapper header {
  padding: 0px 5vw;
}

/*MainHeader*/
.mainHeader {
  margin: 0 auto;
  padding: 0 10vw;
  display: flex;
  align-items: center;
}

.mainHeader a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.mainHeader .logo {
  max-height: 80px;
  margin: 0;
  transition-duration: 0.5s;
}

.mainHeader ul {
  max-width: 1310px;
  padding: 15px 10px 0 30px;
  text-align: left;
  display: block;
  width: 100%;
  font-weight: 600;
}

.mainHeader li {
  display: inline-block;
  color: #fff;
}

.mainHeader li:nth-child(n + 1) {
  margin-left: 20px;
}

.mainHeader .navigation-container li {
  margin: 0 1vw;
}

@media only screen and (max-width: 1200px) {
  .mainheader .navigation-container ul {
    margin-bottom: 0px;
  }

  .mainheader .navigation-container ul {
    padding-top: 10px;
  }

  .mainHeader .nav-bar {
    flex-direction: column-reverse;
    width: 100%;
  }

  .mainHeader .nav-button-container ul,
  .mainHeader .nav-button-container li {
    margin-bottom: 0px;
  }

  .mainHeader .nav-button-container,
  .mainHeader .nav-button-container {
    width: 100%;
    display: block;
  }

  #gatsby-focus-wrapper header {
    padding: 0px 2vw;
  }
}

div.bm-menu-wrap {
  -webkit-box-shadow: -10px 10px 23px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -10px 10px 23px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -10px 10px 23px 0px rgba(0, 0, 0, 0.25);
  width: 100% !important;
}

header .bm-burger-button,
header .bm-menu-wrap {
  display: initial;
}

.bm-item-list {
  pointer-events: all;
  padding-top: 50px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.bm-item-list a {
  color: fff;
  padding: 25px;
  font-size: 51px;
  border-left: 0;
  border-right: 0;
  text-transform: none;

  // @media screen and (max-width: 1224px) {
  //   font-size: 32px;
  //   margin-right: 2.5vw;
  // }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-right: 2.5vw;
    text-align: right;
  }
}

.mainHeader .navbar-burger .bm-cross {
  top: calc(50% - 3px);
  height: 20px !important;
}

.navbar-menu {
  display: none;
}

.bm-burger-button > span {
  position: fixed;
  right: 50px;
  top: 25px;
  height: 25px;
  width: 35px;

  @media screen and (max-width: 767px) {
    top: 20px;
    right: 30px;
  }
}

.bm-burger-button button {
  position: fixed !important;
  right: 50px;
  top: 25px !important;
  height: 25px !important;
  width: 35px !important;
  left: initial !important;
}

.bm-burger-bars {
  background: white;
}

.end-transparency .bm-burger-bars {
  background: #ff656c;
  height: 5px;
}

.bm-cross-button > span {
  height: 0 !important;
}

.bm-overlay {
  opacity: 0 !important;
}

.bm-menu-wrap,
.navbar-burger:hover {
  top: 0;
  background: #0c0c0c !important;
}

#navbarBasicExample {
  display: none;
}

@media screen and (max-width: 767px) {
  header nav.mainHeader {
    padding-bottom: 0;
    padding-top: 0;
  }
}

/*Section Styling*/
main .container {
  padding: 50px 0;
}

main .row {
  margin: 0 auto;
  max-width: 1260px;

  @media screen and (max-width: 1300px) {
    padding: 0 50px;
  }
}

main .row.full-width-row {
  padding: 0;
}

main .row.full-width-row.content-left {
  padding-left: 10vw;
}

main .row.full-width-row.content-right {
  padding-right: 10vw;
}

main .align-middle {
  display: flex;
  align-items: center;
}

main .two-columns {
  display: flex;
}

main .two-columns .col {
  max-width: 50vw;
}

/*Hero Styling*/

.hero-section.container {
  align-items: center;
  padding-top: 100px;
  position: relative;
}

.hero-section .content-container {
  max-width: 1310px;
  margin: 0 auto;
  z-index: 10;
}

.hero-section .content-container h1 {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
}

.hero-section .subtext {
  font-size: 40px;
  font-family: brother-1816, sans-serif;
  font-weight: 300;
  letter-spacing: -0.6px;
  line-height: 1.25;
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

/*General Styling */
main .col {
  max-width: 100%;
  padding: 0 0;
}

.white-text {
  color: #fff;
}

.blue-text {
  color: #0040ed;
}

.yellow-text {
  color: #fcac18;
}

.teal-text {
  color: #00ddc7;
}

.green-text {
  color: #00db00;
}

.pink-text {
  color: #ff3975;
}

.purple-text {
  color: #9b52d1;
}

.light-blue-text {
  color: #0092fb;
}

.gold-text {
  color: #fcac18;
}

.grey-text {
  color: #466777;
}

.left-align {
  text-align: left;
}

.centered-text {
  text-align: center;
}

.right-align {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.hide-me {
  display: none;
}

.no-break {
  white-space: nowrap;
}

main .compressed-content,
main .compressed-text {
  max-width: 45vw;
  margin: 0 auto;
  min-width: 600px;
}

main .center-image-container {
  text-align: center;
}

.form-footer {
  text-align: right;
  padding: 20px 0;
}

.form-footer button {
  margin: 0 0 auto auto;
}

body p {
  margin-bottom: 1rem;
}

main video {
  max-width: initial;
}

div .show-mobile {
  display: none !important;
}

main .col.static-position {
  position: static;
}

.click-through {
  pointer-events: none;
}

main .max-width-fix {
  max-width: 90%;
  margin: auto;
}

.margin-left-25px {
  margin-left: 25px;
}

.inline-block {
  display: inline-block;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

div.margin-top-50 {
  margin-top: 50px;
  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
}

div.margin-top-60 {
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }
}

div.margin-top-75 {
  margin-top: 75px;
  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
}

div .margin-top-100 {
  margin-top: 100px;

  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
}

div.margin-top-110 {
  margin-top: 110px;
  @media screen and (max-width: 767px) {
    margin-top: 25px;
  }
}

div.margin-top-125 {
  margin-top: 125px;

  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

div.margin-top-140 {
  margin-top: 140px;

  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

div.margin-top-160 {
  margin-top: 160px;
  @media screen and (max-width: 767px) {
    margin-top: 50px;
  }
}

.margin-top-300 {
  margin-top: 300px;
}

div.margin-top-minus-400 {
  margin-top: -400px;
}

div .margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

div.margin-bottom-100,
h3.margin-bottom-100 {
  margin-bottom: 100px;
  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

div.margin-bottom-125 {
  margin-bottom: 125px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

div.margin-bottom-200 {
  margin-bottom: 200px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.z-index-10 {
  z-index: 10;
}

.z-index-999 {
  z-index: 999;
}

div .align-vertical {
  display: flex;
  align-items: center;
}

.flex-dir-col,
.flex-col {
  flex-direction: column;
}

div .display-flex {
  display: flex;
}

div .display-block {
  display: block;
}

@media only screen and (max-width: 767px) {
  main .compressed-content.col,
  main .compressed-text {
    max-width: 100vw;
    margin: 0 auto;
    min-width: auto;
  }

  main .two-columns {
    display: block;
  }

  main .two-columns .col {
    max-width: 100vw;
  }

  main .flexed .two-columns,
  main .flexed.two-columns {
    display: flex;
    flex-direction: column-reverse;
  }

  main .row.full-width-row.content-left,
  main .row.full-width-row.content-right {
    padding: 0 50px;
  }

  main .hero-section .content-container h1 {
    font-size: 40px;
    margin-bottom: 60px;
  }

  main h2 {
    font-size: 24px;
  }

  .home-page div.hero-section.container {
    padding-top: 120px;
  }

  div .show-mobile {
    display: block !important;
  }

  .hide-on-mobile {
    display: none;
  }
}

/*!--------HOME PAGE -----------*/

.hero-section {
  background: linear-gradient(to bottom, #51084f, #031e67);
}

.tagline {
  font-family: hack, sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.31px;
  padding-top: 220px;
  text-align: center;
  color: white;

  @media screen and (max-width: 767px) {
    padding-top: 75px;
    font-size: 15px;
  }
}

.home-page h2.smaller {
  font-size: 4.5vw;
}

.home-page .hero-section .blue-button {
  margin: 50px 0;
}

.home-page .hero-section .accent-gradient-circle {
  position: absolute;
  bottom: -100px;
  right: 0px;
  z-index: 10;
  -webkit-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  max-width: 20vw;
}

.home-page .collateral-section {
  position: relative;
  overflow: hidden;
}

.cta-container {
  z-index: 999 !important;
}

.home-page .padding-top-one-fifty {
  padding-top: 150px;
}

.home-page .padding-top-zero {
  padding-top: 0px;
}

.home-page .hero-section.container {
  padding-top: 265px;
}

.home-page .pos-rel {
  position: relative;
}

.home-page .max-width-550 {
  max-width: 550px;
}

.home-page .max-width-600 {
  max-width: 600px;
}

.show-on-mobile {
  display: none;
}

@media screen and (max-width: 846px) {
  main .compressed-text {
    min-width: initial;
  }

  .site-img.animate {
    transform: translateX(0) translatey(0) scale(0.7) !important;
  }

  .home-animation-section {
    right: -15vw;
    top: -5vw;
  }
}

@media only screen and (max-width: 767px) {
  .home-page .hero-section .blue-button {
    border: none;
    background: transparent;
  }

  .home-page .powers-section .video-collage {
    max-width: 100%;
    margin: 20vh 0 7vw -10vw;
  }

  main .home-page .container .col video {
    max-width: 70vw;
    margin-bottom: 3vh;
  }

  .home-page .powers-section {
    margin-top: 0;
  }

  .home-page .hero-section svg,
  .home-page .scroll-indicator {
    display: none;
  }

  .home-page .hero-section .video-container {
    display: none;
  }

  .cta-container .row {
    padding: 0;
  }

  .cta-container .cta-card {
    border-radius: 0px;
  }

  .home-page .white-swoop {
    bottom: -17vh;
    width: 110vw;
    margin-left: -5vw;
    max-width: none;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 0;
  }

  .home-page h2.smaller {
    font-size: 36px;
  }

  header {
    background: white;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  }

  header .second-logo {
    opacity: 1;
    position: absolute;
    left: 0;
    right: initial;
    margin: auto;
  }

  header .first-logo {
    opacity: 0;
  }

  .bm-burger-bars {
    background: #707070;
  }

  main .row.full-width-row.content-left,
  main .row.full-width-row.content-right {
    padding: 0 0px;
  }

  .home-page .powers-section,
  .home-page .outsmart-container {
    margin-left: 0%;
    margin: auto;
  }

  body p {
    font-size: 18px;
  }

  main .home-page .container.outsmart-container .col video {
    max-width: 100%;
    margin-bottom: -50px;
    margin-top: -50px;
  }

  .home-page .hero-section.blue-button {
    margin-left: 50px;
  }

  .home-page .hero-section .row:first-child {
    padding: 0 5vw;
  }

  .home-page .blue-background {
    padding-top: 0;
  }

  body p {
    margin-bottom: 1rem;
    line-height: 28px;
  }

  .home-page .powers-section .blob-graphic {
    position: absolute;
    top: 0;
    left: 41%;
    z-index: -1;
    transform: scale(1.5);
  }

  .home-page .target-section .video-container::before {
    content: none;
  }

  .home-page .max-width-children > * {
    max-width: 100vw;
  }

  .home-page .max-width-550 {
    max-width: initial;
  }

  .home-page .max-width-600 {
    max-width: initial;
  }

  .show-on-mobile {
    display: initial;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .home-page .hero-section::before {
    position: absolute;
    top: 0;
    left: -20%;
  }
}

@media screen and (max-width: 450px) {
  .home-page .white-swoop {
    bottom: -1vh;
  }

  .home-page .collateral-section {
    padding-bottom: 50px;
  }

  .home-page .hero-section .blue-button {
    margin-left: 15px;
  }

  .home-page .powers-section .row:first-child {
    margin-top: -50px;
  }
}

/***** PRIVARY POLICY ********/

.privacy-policy-page {
  padding-top: 50px;
}

.privacy-policy-page .container {
  max-width: 75%;
}

.privacy-policy-page h2 {
  text-align: center;
}

.privacy-policy-page h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
  margin-top: 25px;
}

.privacy-policy-page p {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 18px;
}

.privacy-policy-page li {
  margin-left: 15px;
  margin-top: 10px;
}

.privacy-policy-page h4 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
}

.privacy-policy-page h1 {
  font-size: 60px;
  margin-top: 50px;
  display: block;
  font-weight: 700;
  margin-bottom: 25px;
}

.privacy-policy-page h2 {
  font-size: 45px;
  text-align: left;
}

.privacy-policy-page strong {
  margin-top: 25px;
  display: inline-block;
}

body .center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .rel {
  position: relative;
}

body .logo-right-fix {
  right: 0;
}

body .left-0 {
  left: 0;
}

.behalf {
  display: flex;
  align-items: center;
}

#send-emails {
  height: 25px;
  width: 25px;
  margin-right: 25px;
}

.nowrap {
  white-space: nowrap;
}

/*******************/
/***CORE SERVICES***/
/*******************/

.core-services {
  background: #f0f5ff;

  .col.service {
    max-width: max-content;
  }

  .flex-col-mobile {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h5 {
    color: #0c0c0c;
  }

  h3 {
    margin-bottom: 50px;
    color: #0c0c0c;

    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
      margin-top: 25px;
    }
  }

  li {
    line-height: 35px;
    color: #0c0c0c;
    font-size: 21px;
  }

  @media screen and (max-width: 1100px) {
    .col.service {
      width: 50%;
      flex-basis: 50%;
      max-width: initial;
      text-align: center;
      margin-bottom: 50px;
      h3 {
        margin-bottom: 25px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .col.service {
      width: 100%;
    }

    .margin-bottom-125 {
      margin-bottom: 00px;
    }

    h3 {
      font-size: 30px;
    }

    div.col.service {
      margin-bottom: 20px;
    }
  }
}

.our-focus {
  h2 {
    margin-bottom: 50px;
    line-height: 1;
    letter-spacing: -0.5px;
  }

  p {
    line-height: 35px;
    letter-spacing: -0.5px;
  }

  .col {
    padding: 0px 4%;

    &.left {
      padding-left: 0;
    }

    &.right {
      padding-right: 0;
    }
  }

  figcaption {
    font-family: hack, sans-serif;
    font-size: 12px;
    line-height: 4.17;
    letter-spacing: -0.36px;
    color: #000000;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .phone-img {
    width: 100%;
    max-width: 401px;
    height: auto;
    transition-duration: 0.5s;
    bottom: -100px;
    opacity: 0;
    position: relative;

    &.animate {
      bottom: 0;
      opacity: 1;
    }
  }

  .dog-logo {
    width: 100%;
    max-width: 324px;
    height: auto;
    margin-left: auto;
    margin-right: 50px;
    transition-duration: 0.5s;
    bottom: -100px;
    opacity: 0;
    position: relative;

    &.animate {
      bottom: 0;
      opacity: 1;
    }
  }

  .website-design {
    width: 100%;
    max-width: 537px;
    height: auto;
    transition-duration: 0.5s;
    bottom: -100px;
    opacity: 0;
    position: relative;

    &.animate {
      bottom: 0;
      opacity: 1;
    }
  }

  .custom-icon {
    width: 100vw;
    max-width: 355px;
    height: auto;
    margin-left: 50px;
    transition-duration: 0.5s;
    bottom: -100px;
    opacity: 0;
    position: relative;

    &.animate {
      bottom: 0;
      opacity: 1;
    }
  }

  .dashboard {
    width: 100%;
    max-width: 511px;
    margin-top: 75px;
    transition-duration: 0.5s;
    bottom: -100px;
    opacity: 0;
    position: relative;

    &.animate {
      bottom: 0;
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    h5 {
      margin-top: 0px;
      margin-bottom: -20px;
    }

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    h2,
    p {
      padding: 0 35px;
    }

    .row {
      flex-direction: column;
      padding: 0;
    }

    .col {
      padding: 0 0px;
      margin-top: 0;
    }

    p {
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #343434;
      font-size: 17px;
    }

    .phone-img,
    .dog-logo,
    .website-design,
    .custom-icon,
    .dashboard {
      width: 100%;
      max-width: 100%;
      margin-top: 25px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      bottom: 0;
      opacity: 1;
    }

    .margin-top-mobile-0 {
      margin-top: 0;
    }

    .margin-bottom-mobile-0 {
      margin-bottom: 0;
    }

    .margin-bottom-200 {
      margin-bottom: 0;
    }

    img {
      min-width: 100%;
    }
  }
}

.our-process {
  background: linear-gradient(
    to bottom,
    rgba(202, 57, 192, 0.14),
    rgba(21, 0, 106, 0.14)
  );

  .row {
    text-align: center;
    justify-content: center;
  }

  .col {
    max-width: 900px;
  }

  p {
    font-size: 21px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }

  .Collapsible span {
    cursor: pointer;
    font-size: 40px;
    font-family: brother-1816, sans-serif;
    font-weight: 500;
    color: #262829;
    position: relative;
    margin-top: 30px;
    display: inline-block;

    @media screen and (max-width: 767px) {
      font-size: 29px;
    }

    &.is-closed {
      &::after {
        content: url("../svgs/up-down-arrow.svg");
        position: absolute;
        right: -50px;
        top: -4px;
        transform: scaleX(-1);
      }
    }
    &.is-open {
      &::before {
        content: url("../svgs/up-down-arrow-flipped.svg");
        position: absolute;
        right: -50px;
        top: -4px;
        transform: scaleX(-1);
      }
    }
  }

  .Collapsible__contentInner {
    margin-top: 15px;

    p {
      font-size: 21px;
      font-family: brother-1816, sans-serif;
      color: #0c0c0c;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .margin-top-60 {
      margin-top: 10px;
    }

    .Collapsible:nth-child(2) .Collapsible__trigger {
      &.is-closed {
        &::after {
          right: -50px;
        }
      }

      &.is-open {
        &::before {
          right: -50px;
        }
      }
    }

    .row {
      padding: 0 32px;
    }

    p,
    .step-one {
      text-align: left;
    }
  }
}

.testimonies {
  background: linear-gradient(to bottom, #7539ca, #000f6a);

  p,
  cite,
  h5 {
    color: white;
  }

  cite {
    font-style: normal;
  }

  .testimoni {
    max-width: 900px;
    margin: auto;

    p {
      font-size: 33px;
      line-height: 42px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 31px;
      }
    }

    cite {
      font-size: 21px;
      font-family: brother-1816, sans-serif;
      letter-spacing: -0.63px;
      color: #bfbfbf;
      font-weight: 300;
      margin-top: 20px;
      display: inline-block;

      @media screen and (max-width: 767px) {
        font-size: 17px;
        margin-top: 0px;
      }
    }
  }

  .slick-prev {
    left: -100px;
    top: 60px;
    z-index: 999;
    height: 70px;
    width: 40px;

    &:before {
      content: url("../svgs/left-arrow.svg");
      height: 50px;
      width: 50px;
    }

    @media screen and (max-width: 1224px) {
      left: 20px;
    }
  }

  .slick-next {
    right: -100px;
    top: 60px;
    height: 70px;
    width: 40px;

    &:before {
      content: url("../svgs/right-arrow.svg");
      height: 50px;
      width: 50px;
    }
    @media screen and (max-width: 1224px) {
      right: 40px;
    }
  }

  .slick-slider {
    width: 867px;
    max-width: 100vw;
    margin: auto;

    @media screen and (max-width: 1224px) {
      padding: 0 100px;
    }
  }

  @media screen and (max-width: 767px) {
    .slick-arrow {
      display: none !important;
    }

    .slick-slider {
      padding: 0 32px;
    }

    .slick-dots {
      left: 0;
      bottom: -55px;
    }

    .slick-dots li button:before {
      font-size: 15px;
      color: #d8d8d8;
    }

    .slick-dots li.slick-active button:before {
      color: #fff;
      font-size: 15px;
    }
  }
}

.logos-section {
  background: #0d0d13;

  .col {
    text-align: center;
  }

  .logo {
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition-duration: 0.35s;
  }

  &.animate .logo {
    bottom: 0;
    opacity: 1;
    &.one {
      transition-delay: 0s;
    }
    &.two {
      transition-delay: 0.2s;
    }
    &.three {
      transition-delay: 0.4s;
    }
    &.four {
      transition-delay: 0.5s;
    }
    &.five {
      transition-delay: 0.6s;
    }
    &.six {
      transition-delay: 0.8s;
    }
    &.seven {
      transition-delay: 1s;
    }
  }

  .row {
    justify-content: space-between;

    @media screen and (max-width: 1224px) {
      div {
        flex-basis: 33%;
        text-align: center;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width: 767px) {
      div {
        flex-basis: 45%;
        text-align: center;
        margin-bottom: 25px;
      }

      .logo {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .flex-col-mobile {
    flex-direction: column;
  }

  .container div.flexed {
    flex-direction: column-reverse;
  }

  img {
    margin: auto;
    margin-top: 15px;
  }

  .height-60 {
    height: 60px;
  }

  .height-63-mobile {
    height: 63px;
  }

  .height-34-mobile {
    height: 34px;
  }
}

footer {
  background: #1f2135;

  #error-msg {
    color: red;
    border: solid red 1px;
    padding: 10px;
    border-radius: 3px;
    width: 95%;
    display: none;
  }

  h2 {
    color: white;
    margin-top: 0;
  }

  form {
    max-width: 800px;

    label {
      color: white;
      font-size: 23px;
      font-family: brother-1816, sans-serif;
      font-weight: 300;
      line-height: 50px;
      width: 100%;
    }

    input {
      background: transparent;
      border: solid 1px #afafaf;
      border-radius: 3px;
      height: 58px;
      color: #afafaf;
      font-family: brother-1816, sans-serif;
      font-size: 16px;
      padding-left: 15px;
    }

    textarea {
      background: transparent;
      border: solid 1px #afafaf;
      border-radius: 3px;
      display: block;
      width: 100%;
      padding-left: 15px;
      color: #afafaf;
      font-family: brother-1816, sans-serif;
      font-size: 16px;
      padding-left: 15px;
      line-height: 30px;
      min-height: 170px;
      padding-top: 10px;

      &::placeholder {
        font-family: hack, sans-serif;

        padding-top: 10px;
        line-height: 18px;
      }
    }

    .two-inputs {
      display: flex;
      justify-content: space-between;
      label {
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;

        label {
          max-width: 100%;
        }
      }
    }

    ::placeholder {
      font-family: hack, sans-serif;

      font-size: 16px;
      line-height: 50px;
      color: #afafaf;
      padding-left: 0;
    }

    button.btn {
      background: #00ddc7;
      width: 100%;
      font-size: 20px;
      color: #0c0c0c;
      font-weight: 700;
      line-height: 50px;
      padding: 0;
    }
  }

  .spaced-out {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      color: white;
    }

    a {
      color: #00ddc7 !important;
      font-family: brother-1816, sans-serif;
      font-size: 30px;
      display: block;
      line-height: 50px;

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 767px) {
      h3 {
        min-height: 72px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    h3 {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  .socket {
    background: transparent;

    * {
      color: white;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 25px;
    }
  }
}
