.portfolio {
  .hero-section {
    background: linear-gradient(to bottom, #1252ff, #5285ee);

    h1 {
      color: white;
      padding: 140px 0 170px 0;

      @media screen and (max-width: 767px) {
        padding: 30px 0 0px;
      }
    }

    .categories {
      display: flex;
      justify-content: space-around;

      button {
        background: transparent;
        border: none;
        font-family: Brother-1816, sans-serif;
        font-size: 33px;
        font-weight: 500;
        line-height: 1.52;
        letter-spacing: -0.99px;
        color: #ffffff;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .hero-section {
      .categories button {
        font-size: 22px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .hero-section {
      .categories {
        flex-wrap: wrap;
        justify-content: space-evenly;
        button {
          font-size: 22px;
          width: 100%;
          margin-top: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}
